.container-fluid{
    padding-top: 100px;
    height: 100vh;
}

.tech_name{
margin: 10px 50px;
font-size:400%;
}
.tech_name>i:hover{
    color: red;

}
.tech_name:hover + .hide{
    display: block;
    color: red;
    transition-duration: 3s;
}
.hide{
    display: none;
}